#main > section.cover {
    padding: 10.2em 0;
    background-size: cover;
    background-position: center center;
}

#main > section.one {
    background-color: #81918E;
    background-image: url("../../images/ussak-banner.jpg");
}


.hidden {
    visibility:  hidden;
}

